<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">



    <bean id = "petSingleton"
          class="InversionOfControl.Animals.Dog"
          scope="singleton"> <!--от синглтон можно создать только один объект-->
    </bean>

    <bean id = "petPrototype"
          class="InversionOfControl.Animals.Dog"
          scope="prototype"> <!--от синглтон можно создать только один объект-->    </bean>

    <bean id = "singletonCat"
          class="InversionOfControl.Animals.Cat"
          scope="singleton"
          init-method="init"
          destroy-method="destroy">
    </bean>

    <bean id = "prototypeCat"
          class="InversionOfControl.Animals.Cat"
          scope="prototype"
          init-method="init"
          destroy-method="destroy">
    </bean>


</beans>